* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 10vh;
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  background-color: #0D0D24;
  z-index: 10;
}
nav div {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .acicts-logo img {
  height: 100%;
}
nav .socials {
  margin-left: auto;
  font-size: 1.6rem;
}
nav .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.landing {
  min-height: 100vh;
  background: linear-gradient(180deg, #0D0D24 40%, rgba(13, 13, 36, 0) 100%), url("./assets/landing.png") no-repeat center bottom;
  background-size: cover;
  padding: 25vh 2rem 15vh 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.landing .hero {
  font-weight: bold;
  color: #EEC945;
  text-align: center;
  font-size: 5rem;
  text-shadow: 0 0 15px rgba(238, 201, 69, 0.5019607843), 0 0 10px rgba(238, 201, 69, 0.5019607843);
}
.landing .cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.landing .cta .button {
  color: #EEC945;
  background-color: #0D0D24;
  text-align: center;
  border-radius: 1000px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 300px;
  border: 2px solid rgba(238, 201, 69, 0.5019607843);
  box-shadow: inset 0 0 0 0 #EEC945, 0px 0px 15px -3px rgba(238, 201, 69, 0.5019607843);
  transition: 0.4s;
}
.landing .cta .button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.landing .cta .button:hover {
  color: #0D0D24;
  box-shadow: inset 0 -100px 0 0 #EEC945, 0px 0px 15px -3px rgba(238, 201, 69, 0.5019607843);
}
.landing .rules {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
  color: #f9f8ef;
  transition: 0.4s;
}

.winners {
  background-color: #05001a;
  color: #f9f8ef;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.winners .winner-cats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.winners .winner-cats h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #EEC945;
  text-shadow: 0 0 15px rgba(238, 201, 69, 0.5019607843), 0 0 10px rgba(238, 201, 69, 0.5019607843);
}
.winners .winner-cats .winner-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.winners .winner-cats .winner-posts .post {
  width: 28%;
  height: auto;
  aspect-ratio: 1/1;
  margin: auto;
  box-shadow: 4px 0 32px 0 rgba(238, 201, 69, 0.2274509804);
  border-radius: 24px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.winners .winner-cats .winner-posts .post::after {
  position: absolute;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  top: 0;
  transform: translateY(-50%);
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.5019607843);
}
.winners .winner-cats .winner-posts .post:nth-child(2) {
  width: 32%;
}
.winners .winner-cats .winner-posts .post:nth-child(2)::after {
  content: "WINNER";
  font-size: 2.4rem;
}
.winners .winner-cats .winner-posts .post:nth-child(1)::after {
  content: "1ST RUNNERS UP";
}
.winners .winner-cats .winner-posts .post:nth-child(3)::after {
  content: "2ND RUNNERS UP";
}
.winners .winner-cats .winner-posts .post img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.winners .winner-cats .winner-posts .post:hover .post-credits {
  opacity: 1;
}
.winners .winner-cats .post-credits {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity 0.4s;
}
.winners .winner-cats .post-credits .credit-name {
  font-size: 1.6rem;
  font-weight: bold;
}
.winners .winner-cats .post-credits .credit-class {
  font-size: 1.2rem;
}
.winners .winner-cats .winner-wishing {
  display: flex;
  justify-content: center;
  border-radius: 24px;
}
.winners .winner-cats .winner-wishing .post {
  width: 40%;
  box-shadow: 4px 0 32px 0 rgba(238, 201, 69, 0.2274509804);
  display: flex;
  position: relative;
  cursor: pointer;
}
.winners .winner-cats .winner-wishing .post::after {
  content: "WINNER";
  position: absolute;
  font-size: 2.4rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  top: 0;
  transform: translateY(-50%);
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.5019607843);
}
.winners .winner-cats .winner-wishing .post img {
  width: 100%;
  border-radius: 24px;
}
.winners .winner-cats .winner-wishing .post:hover .post-credits {
  opacity: 1;
}

.guidelines {
  background-color: #05001a;
  color: #f9f8ef;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.guidelines .guidelines-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.guidelines .guidelines-section ul {
  list-style-position: inside;
}
.guidelines .guidelines-section ul li {
  margin: 0.2rem 0;
}

footer {
  background-color: #0D0D24;
  color: #f9f8ef;
  padding: 2rem;
  text-align: center;
}
footer a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 2rem 2rem;
  }
  nav .acicts-logo img {
    display: none;
  }
  .landing {
    padding: 17vh 2rem 15vh 2rem;
  }
  .landing .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 5rem;
  }
  .landing .rules {
    padding-top: 6rem;
  }
  .winners {
    gap: 4rem;
  }
  .winners h2 {
    text-align: center;
  }
  .winners .winner-cats {
    font-size: 0.5rem;
  }
  .winners .winner-cats .winner-posts {
    flex-direction: column;
    gap: 4rem;
  }
  .winners .winner-cats .winner-posts .post {
    width: 100% !important;
  }
  .winners .winner-cats .winner-posts .post::after {
    font-size: 1rem;
  }
  .winners .winner-cats .winner-posts .post:nth-child(1) {
    order: 2;
  }
  .winners .winner-cats .winner-posts .post:nth-child(2) {
    order: 1;
  }
  .winners .winner-cats .winner-posts .post:nth-child(2)::after {
    font-size: 1.4rem;
  }
  .winners .winner-cats .winner-posts .post:nth-child(3) {
    order: 3;
  }
  .winners .winner-cats .winner-wishing .post {
    width: 100%;
  }
  .winners .winner-cats .winner-wishing .post::after {
    font-size: 1.4rem;
  }
  .guidelines {
    gap: 3rem;
    padding: 2rem;
  }
  .guidelines .guidelines-section h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */