* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 10vh;
    width: 100%;
    padding: 1rem 2rem;
    color: white;
    background-color: #0D0D24;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .acicts-logo img {
        height: 100%;
    }

    .socials {
        margin-left: auto;
        font-size: 1.6rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
        }
    }
}

.landing {
    min-height: 100vh;
    background: linear-gradient(180deg, #0D0D24 40%, rgba(13, 13, 36, 0) 100%), url("./assets/landing.png") no-repeat center bottom;
    background-size: cover;
    padding: 25vh 2rem 15vh 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .hero {
        font-weight: bold;
        color: #EEC945;
        text-align: center;
        font-size: 5rem;
        text-shadow: 0 0 15px #EEC94580, 0 0 10px #EEC94580;
        // margin-top: 15vh;
    }

    .cta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        // margin-top: 4rem;

        .button {
            color: #EEC945;
            background-color: #0D0D24;
            text-align: center;
            border-radius: 1000px;
            font-size: 1.4rem;
            font-weight: bold;
            width: 300px;
            border: 2px solid #EEC94580;
            box-shadow: inset 0 0 0 0 #EEC945, 0px 0px 15px -3px #eec94580;
            transition: .4s;
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
            }

            &:hover {
                // background-color: #EEC945;
                color: #0D0D24;
                box-shadow: inset 0 -100px 0 0 #EEC945, 0px 0px 15px -3px #eec94580;
            }
        }
    }

    .rules {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: underline;
        color: #f9f8ef;
        transition: .4s;
    }
}

.winners {
    background-color: #05001a;
    color: #f9f8ef;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;

    .winner-cats {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: #EEC945;
            text-shadow: 0 0 15px #EEC94580, 0 0 10px #EEC94580;
        }
        
        .winner-posts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .post {
                width: 28%;
                height: auto;                
                aspect-ratio: 1/1;
                margin: auto;
                box-shadow: 4px 0 32px 0 #eec9453a;
                border-radius: 24px;
                // overflow: hidden;
                display: flex;
                position: relative;
                cursor: pointer;
                
                &::after {
                    position: absolute;
                    font-size: 1.4rem;
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    letter-spacing: 2px;
                    top: 0;
                    transform: translateY(-50%);
                    text-shadow: 0 0 24px #00000080;
                }
                
                &:nth-child(2) {
                    width: 32%;
                    &::after {
                        content: "WINNER";
                        font-size: 2.4rem;
                    }
                }

                &:nth-child(1) {
                    &::after {
                        content: "1ST RUNNERS UP";
                    }
                }

                &:nth-child(3) {
                    &::after {
                        content: "2ND RUNNERS UP";
                    }
                }
                
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: inherit;
                }

                &:hover {
                    .post-credits {
                        opacity: 1;
                    }
                }

            }
        }

        .post-credits {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(8px);
            opacity: 0;
            transition: opacity .4s;

            .credit-name {
                font-size: 1.6rem;
                font-weight: bold;
            }
            .credit-class {
                font-size: 1.2rem;
            }
        }

        .winner-wishing {
            display: flex;
            justify-content: center;
            border-radius: 24px;
            
            .post {
                width: 40%;
                box-shadow: 4px 0 32px 0 #eec9453a;
                display: flex;
                position: relative;
                cursor: pointer;
                
                &::after {
                    content: "WINNER";
                    position: absolute;
                    font-size: 2.4rem;
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    letter-spacing: 2px;
                    top: 0;
                    transform: translateY(-50%);
                    text-shadow: 0 0 24px #00000080;
                }
                
                img {
                    width: 100%;
                    border-radius: 24px;   
                }

                &:hover {
                    .post-credits {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.guidelines {
    background-color: #05001a;
    color: #f9f8ef;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .guidelines-section {
        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            // text-decoration: underline;
        }
    
        ul {
            list-style-position: inside;
            
            li {
                margin: .2rem 0;
            }
        }
    }
}

footer {
    background-color: #0D0D24;
    color: #f9f8ef;
    padding: 2rem;
    text-align: center;

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    nav {
        padding: 2rem 2rem;

        .acicts-logo {
            img {
              display: none;
            }
        }
    }

    .landing {
            padding: 17vh 2rem 15vh 2rem;

        .cta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding-top: 5rem;
        }

        .rules {
            padding-top: 6rem;
        }
    }

    .guidelines {
        gap: 3rem;
        padding: 2rem;
    
        .guidelines-section {
            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
        }
    }
}