* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 10vh;
    width: 100%;
    padding: 1rem 2rem;
    color: white;
    background-color: #0D0D24;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .acicts-logo img {
        height: 100%;
    }

    .socials {
        margin-left: auto;
        font-size: 1.6rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
        }
    }
}

.landing {
    min-height: 100vh;
    background: linear-gradient(180deg, #0D0D24 40%, rgba(13, 13, 36, 0) 100%), url("./assets/landing.png") no-repeat center bottom;
    background-size: cover;
    padding: 25vh 2rem 15vh 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .hero {
        font-weight: bold;
        color: #EEC945;
        text-align: center;
        font-size: 5rem;
        text-shadow: 0 0 15px #EEC94580, 0 0 10px #EEC94580;
        // margin-top: 15vh;
    }

    .cta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        // margin-top: 4rem;

        .button {
            color: #EEC945;
            background-color: #0D0D24;
            text-align: center;
            border-radius: 1000px;
            font-size: 1.4rem;
            font-weight: bold;
            width: 300px;
            border: 2px solid #EEC94580;
            box-shadow: inset 0 0 0 0 #EEC945, 0px 0px 15px -3px #eec94580;
            transition: .4s;
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
            }

            &:hover {
                // background-color: #EEC945;
                color: #0D0D24;
                box-shadow: inset 0 -100px 0 0 #EEC945, 0px 0px 15px -3px #eec94580;
            }
        }
    }

    .rules {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: underline;
        color: #f9f8ef;
        transition: .4s;
    }
}

.guidelines {
    background-color: #05001a;
    color: #f9f8ef;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .guidelines-section {
        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            // text-decoration: underline;
        }
    
        ul {
            list-style-position: inside;
            
            li {
                margin: .2rem 0;
            }
        }
    }
}

footer {
    background-color: #0D0D24;
    color: #f9f8ef;
    padding: 2rem;
    text-align: center;

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    nav {
        padding: 2rem 2rem;
    }

    .landing {
            padding: 17vh 2rem 15vh 2rem;

        .cta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding-top: 5rem;
        }

        .rules {
            padding-top: 6rem;
        }
    }

    .guidelines {
        gap: 3rem;
    
        .guidelines-section {
            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
        }
    }
}